{
  "metadata": {
    "retrieved": "2025-10-17 19:50:00 UTC",
    "total_count": 3,
    "ens_resolved": 2
  },
  "indexers": [
    {
      "address": "0x0058223c6617cca7ce76fc929ec9724cd43d4542",
      "ens_name": "grassets-tech-2.eth",
      "is_eligible": true,
      "status": "",
      "eligible_until": "",
      "eligibility_renewal_time": 1760696509
    },
    {
      "address": "0x01f17c392614c7ea586e7272ed348efee21b90a3",
      "ens_name": "oraclegen-indexer.eth",
      "is_eligible": true,
      "status": "",
      "eligible_until": "",
      "eligibility_renewal_time": 1760696509
    },
    {
      "address": "0x089f78d8cf0a5ae1b7a581b1910a73f8cb3e4774",
      "ens_name": "",
      "is_eligible": false,
      "status": "",
      "eligible_until": "",
      "eligibility_renewal_time": 0
    }
  ]
}

